.DS_Store
Chemistry_plot_free_scale.png
Figure_1_niche_range_habitat.ai
Figure_1_niche_range_habitat.pdf
Figure_1_niche_range_habitat.png
Figure_3_Herbivory_patterns.png
Herbivory_Arrays_herbivory_estimates.png
Range_Map.pdf
Range_Map2.pdf
VillClade_climatePCA.pdf
Vill_clade_climatic niche.png
arrays_lf_proportion_plot.png
beetle_palatability_plot.png
leaf_toughness_plot.png
wild_herbivory_plot.png
wild_per_herbivory_plot.png
Figure_3_Herbivory_patterns.pdf
beetle_preference_plot.png
